@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38 38 38);
  color: white;
  margin-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  width: fit-content;
  margin: auto;
  padding-bottom: 8rem;
}

li:hover {
  transform: scale(1.1);
  transition: 300ms;
}

li:not(:hover) {
  transition: 300ms;
}

input {
  margin: .9rem 0;
  border-radius: 0.75rem;
  padding: 0.8rem;
  color: black;
}

textarea {
  margin-top: .9rem;
  border-radius: 0.75rem;
  padding: 0.7rem;
  color: black;
}

.font-oswald {
  font-family: 'Oswald';
}

.transition-contact {
  transition: .3s ease-in;
  z-index: 1;
}

.transition-contact:hover {
  background-color: aqua;
  color: black;
}

.one-hundred-percent {
  width: 97vw;
}

.left-95 {
  left: 95%;
}

.mx-1\/2 {
  margin: 0 25%;
}

.text-red {
  color: red;
}

.bg-red {
  background-color: red;
}

.bottom-93 {
  bottom: 93%
}

.for-all-a a {
  margin-right: 4rem;
}

.full-left {
  margin-left: 65rem;
}

.hamb-menu {
  cursor: pointer;
  padding: 1rem;
}

.hamb-menu:hover {
  background-color: rgb(229 229 229);
  color: black;
  border-radius: 0.25rem;
}

.correction {
  padding: .4rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  padding: .5rem;
  font-weight: bold;
}